<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name = "extentReportListener.ExtentReporterNG" />
</listeners>
<test name="Test1"> 
<parameter name="UserName" value="ravinder19051983@gmail.com"></parameter>
<parameter name="PassWord" value="Cool@123"></parameter>
<classes>
<class name = "TestCases.login">
</class>
</classes> 
  </test> <!-- Test --> 
 </suite>
	